@font-face {
  font-family: 'fa-brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    url('/assets/webfonts/fa-brands-400.ttf?5jsxum') format('truetype'),
    url('/assets/webfonts/fa-brands-400.woff2?5jsxum') format('woff2');
}

@font-face {
  font-family: 'fa-regular';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src:
    url('/assets/webfonts/fa-regular-400.ttf?5jsxum') format('truetype'),
    url('/assets/webfonts/fa-regular-400.woff2?5jsxum') format('woff2');
}

@font-face {
  font-family: 'fa-solid';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src:
    url('/assets/webfonts/fa-solid-900.ttf?5jsxum') format('truetype'),
    url('/assets/webfonts/fa-solid-900.woff2?5jsxum') format('woff2');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fa-solid' !important;
  speak: none;
  font-style: normal;
  font-weight: 900;
  font-display: block;
}

[class^="brand-"], [class*=" brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fa-brands' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-display: block;
}

.icon-blog:before       { content: "\f304"; }
.icon-price-tag:before  { content: "\e935"; }
.icon-price-tags:before { content: "\e936"; }
.icon-project:before    { content: "\f135"; }
.icon-twitter:before    { content: "\f099"; }
.icon-rss:before        { content: "\f09e"; }
.brand-github:before     { content: "\f09b"; }
.brand-instagram:before  { content: "\f16d"; }
